@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexVM

<div id="komponente">
    <div id="navigacija"></div>
    <div class="pregled-ponude">
        <div class="pregled-ponude-dani">
            @foreach (var p in Model.Dani)
            {
                if (p.Value == 0)
                {
                    <a class="dan" id="dan-active" onclick="ucitajPonudu(@p.Value)" style="color:#f4eade">@p.DanUSedmici</a>
                }
                else
                {
                    <a class="dan" onclick="ucitajPonudu(@p.Value)" style="color:#f4eade">@p.DanUSedmici</a>
                }
                
            }
        </div>
        <div id="filmovi-lista">
        </div>
    </div>
</div>

<script>
    ucitajPonudu(0);

    //Funkcije za ajax brisanje i ucitavanje
    function ucitajPonudu(dan) {
        let url = "/Ponuda/Prikaz?dan=" + dan;
        $.get(url, function (data) {
            $("#filmovi-lista").html(data);
        });
    }



</script>