<!DOCTYPE html>
@using Podaci.EntityModels
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eKino</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">*@

        <div class="meni">
            <a href="/Home/Index" class="navbar-element">POČETNA</a>
            <a href="/Home/Filmovi">FILMOVI</a>
            <a href="/Home/Vijesti">VIJESTI</a>
            <a href="https://sugestije.p2072.app.fit.ba/">SUGESTIJE</a>
            @if (SignInManager.IsSignedIn(User) && !UserManager.GetUserAsync(User).Result.IsPosjetilac)
            {
            <a href="/Admin/Index" id="navbar-active">ADMIN</a>
            }
        </div>
        <partial name="_LoginPartial" />

        @*</div>
            </div>
        </nav>*@
    </header>
    <div id="komponente">
        <div class="lijevo">
            <h1>Admin panel</h1>
            <div class="admin-izbornik">
                <div class="admin-izbornik-stavka">
                    <a>Upravljanje projekcijama</a>
                    <div class="admin-podizbornik">
                        <a href="/Projekcije/Prikaz">Sve projekcije</a>
                        <a href="/Projekcije/Dodaj">Dodaj projekciju</a>
                    </div>
                </div>
                <div class="admin-izbornik-stavka">
                    <a>Upravljanje filmovima</a>
                    <div class="admin-podizbornik">
                        <a href="/Admin/Filmovi/">Svi filmovi</a>
                        <a href="/Filmovi/Dodaj">Dodaj film</a>
                    </div>
                </div>
                <div class="admin-izbornik-stavka">
                    <a>Upravljanje vijestima</a>
                    <div class="admin-podizbornik">
                        <a asp-action="Prikaz" asp-controller="Vijesti">Sve vijesti</a>
                        <a asp-action="Dodaj" asp-controller="Vijesti">Dodaj vijest</a>
                    </div>
                </div>
                <div class="admin-izbornik-stavka">
                    <a>Upravljanje korisnicima</a>
                </div>
            </div>
        </div>
        <div class="desno">
            <div class="desno-container">
                <div><h2>@ViewData["Title"]</h2></div>
                @if (this.ViewContext.RouteData.Values["action"].ToString() == "Filmovi")
                {
                    <div class="input-div-container">
                        <div class="input-div">
                            <label class="input-label">Traži</label>
                            <input id="search-input" class="input-polje" onkeydown="trazi()" />
                        </div>
                    </div>
                }
                    <div class="zakazivanje-container">
                        @RenderBody()
                    </div>
            </div>

        </div>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - eKino - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notifikacije.js"></script>
</body>
</html>
