

    <div class="input-div-container">
        <div class="input-div">
            <label class="input-label">Traži</label>
            <input id="search-input"class="input-polje" onkeydown="trazi()" />
        </div>
    </div>

